* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.debug {
    border: 1px solid red;
}

.bg-ml-yellow {
    background-color: #FFF159;
}

.bg-ml-gray {
    background-color: #EBEBEB;
}

.bg-ml-mid-black {
    background: #4B4B4B;
}

.bg-white {
    background-color: #FFFFFF;
}

.bg-ml-purple {
    background: linear-gradient(90deg, #A90F90 55%, #0C1A51 100%);
}

.bg-ml-purple-bottom {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #0C1A51);
}

.bg-ml-azul-bottom {
    background: linear-gradient(to bottom, rgba(0, 0, 255, 0), #3483FA);
}

.bg-ml-blue {
    background: #3483FA;
}

.color-black {
    color: #000000;
}

.color-ml-black {
    color: #333333;
}

.color-ml-mid-black {
    color: #4B4B4B;
}

.color-ml-ligth-black {
    color: #666666;
}

.color-ml-gray {
    color: #999999;
}

.color-ml-blue {
    color: #3483FA;
}

.color-ml-green {
    color: #00A650;
}

.color-white {
    color: #FFFFFF;
}

.text-aline-center {
    text-align: center;
}

.font-size-11 {
    font-size: 11px;
}

.font-size-12 {
    font-size: 12px;
}

.font-size-13 {
    font-size: 13px;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-15 {
    font-size: 15px;
}

.font-size-17 {
    font-size: 17px;
}

.font-size-20 {
    font-size: 20px;
}

.font-size-22 {
    font-size: 22px;
}

.font-size-24 {
    font-size: 24px;
}

.font-size-25 {
    font-size: 25px;
}

.font-size-26 {
    font-size: 26px;
}

.font-size-28 {
    font-size: 28px;
}

.font-medium {
    font-weight: 500;
}

.font-semibold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

.text-line-through {
    text-decoration: line-through;
}

.letter-spacing-4 {
    letter-spacing: 4px;
}

.display-flex {
    display: flex;
}

.display-flex-column {
    flex-direction: column;
}

.display-aline-center {
    align-items: center;
}

.display-aline-baseline {
    align-items: baseline;
}

.display-justify-center {
    justify-content: center;
}

.display-justify-space-between {
    justify-content: space-between;
}

.display-justify-end {
    justify-content: flex-end;
}

.gap-1 {
    gap: 1px;
}

.gap-2 {
    gap: 2px;
}

.gap-5 {
    gap: 5px;
}

.gap-11 {
    gap: 11px;
}

.gap-15 {
    gap: 15px;
}

.gap-18 {
    gap: 18px;
}

.gap-22 {
    gap: 22px;
}

.gap-40 {
    gap: 40px;
}

.gap-50 {
    gap: 50px;
}

.gap-72 {
    gap: 72px;
}

.padding-16 {
    padding: 16px;
}

.padding-20 {
    padding: 20px;
}

.padding-24 {
    padding: 24px;
}

.padding-left-15 {
    padding: 0px 15px;
}

.padding-left-22 {
    padding-left: 22px;
}

.padding-left-only-30 {
    padding-left: 30px;
}

.padding-top-10 {
    padding: 10px;
}

.padding-top-70 {
    padding: 70px 0px;
}

.padding-top-15 {
    padding-top: 15px;
}

.padding-left-7 {
    padding-left: 7px;
}

.padding-left-47 {
    padding-left: 47px;
}

.padding-bottom-2 {
    padding-bottom: 2px;
}

.padding-bottom-15 {
    padding-bottom: 15px;
}

.margin-left-75 {
    margin-left: 75px;
}

.margin-left-102 {
    margin-left: 102px;
}

.margin-bottom--35 {
    margin-bottom: -35px;
}

.margin-bottom--70 {
    margin-bottom: -70px;
}

.margin-bottom--115 {
    margin-bottom: -115px;
}

.height-100vh {
    height: 100%;
}

.height-6 {
    height: 6px;
}

.height-36 {
    height: 36px;
}

.height-47 {
    height: 47px;
}

.height-48 {
    height: 48px;
}

.height-56 {
    height: 56px;
}

.height-72 {
    height: 72px;
}

.height-74 {
    height: 74px;
}

.height-80 {
    height: 80px;
}

.height-90 {
    height: 90px;
}

.heigth-95 {
    height: 95px;
}

.height-100 {
    height: 100px;
}

.height-170 {
    height: 170px;
}

.height-250 {
    height: 250px;
}

.height-340 {
    height: 340px;
}

.height-350 {
    height: 350px;
}

.height-384 {
    height: 384px;
}

.width-100vw {
    width: 100%;
}

.width-6 {
    width: 6px;
}

.width-47 {
    width: 47px;
}

.width-72 {
    width: 72px;
}

.width-96 {
    width: 96px;
}

.width-124 {
    width: 124px;
}

.width-170 {
    width: 170px;
}

.width-224 {
    width: 224px;
}

.width-240 {
    width: 240px;
}

.width-284 {
    width: 284px;
}

.width-287 {
    width: 287px;
}

.width-384 {
    width: 384px;
}

.width-400 {
    width: 400px;
}

.width-584 {
    width: 584px;
}

.width-598 {
    width: 598px;
}

.width-1184 {
    width: 1184px;
}

.list-style-none {
    list-style: none;
}

.border-none {
    border: none;
}

.border-gray {
    border: 1px solid #EEEEEE;
}

.rounded-2 {
    border-radius: 2px;
}

.rounded-3 {
    border-radius: 3px;
}

.rounded-4 {
    border-radius: 4px;
}

.rounded-6 {
    border-radius: 6px;
}

.rounded-8 {
    border-radius: 8px;
}

.rounded-4-top {
    border-radius: 4px 4px 0px 0px;
}

.rounded-4-top-left {
    border-radius: 4px 0px 0px 0px;
}

.rounded-4-top-right {
    border-radius: 0px 4px 0px 0px;
}

.rounded-4-bottom-left {
    border-radius: 0px 0px 0px 4px;
}

.rounded-4-bottom-right {
    border-radius: 0px 0px 4px 0px;
}

.rounded-6-top {
    border-radius: 6px 6px 0px 0px;
}

.rounded-6-bottom {
    border-radius: 0px 0px 6px 6px;
}

.rounded-full {
    border-radius: 50%;
}

.box-shadow {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.box-shadow-button-ul {
    box-shadow: inset 0px 0px 0px 1px #FFFFFF;
}