* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.debug {
    border: 1px solid red;
}

.bg-ml-yellow {
    background-color: #FFF159;
}

.bg-ml-gray {
    background-color: #EBEBEB;
}

.bg-white {
    background-color: #FFFFFF;
}

.bg-ml-purple {
    background: linear-gradient(90deg, #A90F90 55%, #0C1A51 100%);
}

.bg-ml-blue {
    background: #3483FA;
}

.color-black {
    color: #000000;
}

.color-ml-black {
    color: #333333;
}

.color-ml-mid-black {
    color: #4B4B4B;
}

.color-ml-ligth-black {
    color: #666666;
}

.color-ml-dark-yellow {
    color: #857F42;
}

.color-ml-gray {
    color: #999999;
}

.color-ml-blue {
    color: #3483FA;
}

.color-ml-green {
    color: #00A650;
}

.color-white {
    color: #FFFFFF;
}

.font-size-13 {
    font-size: 13px;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-15 {
    font-size: 15px;
}

.font-size-17 {
    font-size: 17px;
}

.font-size-20 {
    font-size: 20px;
}

.font-size-24 {
    font-size: 24px;
}

.font-size-25 {
    font-size: 25px;
}

.font-size-28 {
    font-size: 28px;
}

.font-medium {
    font-weight: 500;
}

.font-semibold {
    font-weight: 600;
}

.text-line-through {
    text-decoration: line-through;
}

.display-flex {
    display: flex;
}

.display-flex-column {
    flex-direction: column;
}

.display-aline-center {
    align-items: center;
}

.display-aline-baseline {
    align-items: baseline;
}

.display-justify-center {
    justify-content: center;
}

.display-justify-space-between {
    justify-content: space-between;
}

.display-justify-end {
    justify-content: flex-end;
}

.gap-2 {
    gap: 2px;
}

.gap-5 {
    gap: 5px;
}

.gap-11 {
    gap: 11px;
}

.gap-15 {
    gap: 15px;
}

.gap-18 {
    gap: 18px;
}

.gap-22 {
    gap: 22px;
}

.gap-40 {
    gap: 40px;
}

.gap-50 {
    gap: 50px;
}

.gap-72 {
    gap: 72px;
}

.padding-20 {
    padding: 20px;
}

.padding-24 {
    padding: 24px;
}

.padding-left-15 {
    padding: 0px 15px;
}

.padding-top-10 {
    padding: 10px;
}

.margin-left-75 {
    margin: 0px 75px;
}

.height-100vh {
    height: 100%;
}

.height-48 {
    height: 48px;
}

.height-72 {
    height: 72px;
}

.height-74 {
    height: 74px;
}

.height-80 {
    height: 80px;
}

.height-90 {
    height: 90px;
}

.height-100 {
    height: 100px;
}

.height-170 {
    height: 170px;
}

.height-340 {
    height: 340px;
}

.height-350 {
    height: 350px;
}

.width-100vw {
    width: 100%;
}

.width-47 {
    width: 47px;
}

.width-72 {
    width: 72px;
}

.width-224 {
    width: 224px;
}

.width-240 {
    width: 240px;
}

.width-598 {
    width: 598px;
}

.width-1184 {
    width: 1184px;
}

.list-style-none {
    list-style: none;
}

.border-none {
    border: none;
}

.border-gray {
    border: 1px solid #EEEEEE;
}

.rounded-2 {
    border-radius: 2px;
}

.rounded-4 {
    border-radius: 4px;
}

.rounded-6 {
    border-radius: 6px;
}

.rounded-6-top {
    border-radius: 6px 6px 0px 0px;
}

.rounded-6-bottom {
    border-radius: 0px 0px 6px 6px;
}

.rounded-full {
    border-radius: 50%;
}

.test {
    border-radius: 6px 6px 0px 0px;
}